<% include ./partials/header %>
<form action="/signup" method="POST">
            <input type="text" name="firstName" placeholder="First Name">
            <input type="text" name="employeeNumber" placeholder="Employee Number">
            <button>Submit</button>
    </form>
<% include ./partials/footer %>